@page
@model ECommerce.Frontend.ViewModels.UserViewModel

<h1>User details</h1>

<p><b>Id:</b> @Html.DisplayFor(x => x.Id)</p>
<p><b>Age:</b> @Html.DisplayFor(x => x.DateOfBirth) </p>
<p><b>FirstName:</b> @Html.DisplayFor(x => x.FirstName) </p>
<p><b>LastName:</b> @Html.DisplayFor(x => x.LastName)</p>